@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: #171810;
    height: 100vh;
}

.background{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #171810;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    padding: 20px 3%;
    height: 80px;
}


.cabecalho-link{
    display: flex;
    gap: 4rem;
    font-weight: 300;
    cursor: pointer;
}

.cabecalho-link a{
    color: #fff;
    font-size: 18px;
}

.cabecalho-link a:hover{
    color: #5CE1E6;
    transition: 0.3s all;
}

.logo img{
    height: 50px;
    background: transparent;
    display: inline-flex;
    justify-content: center;
    cursor: pointer; 
    margin-bottom: 15px; 
    margin-right: 40px;
    margin-top: 15px;
}

.btn-contato{
    color: #5CE1E6;
    background: transparent;
    border: solid 3px #5CE1E6;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
    width: 250px;
    padding: 5px;
}

.botao{
    width: 120px;
}

.btn-contato:hover{
    background-color: #5CE1E6;
    color: #fff;
    transition: 0.5s;
}

/* Caixa texto e foto perfil */

.container-text .flex{
    align-items: center;
    justify-content: space-between;
    height: 75vh;
    padding: 3%;
    margin-bottom: 25vh;
}

.text h3{
    color: #fff;
    font-size: 20px;

    animation: slideInDown;
    animation-duration: 1s; 
}

.text h1{
    color: #fff;
    margin-top: 10px;
    font-size: 40px;

    animation: slideInLeft;
    animation-duration: 1.5s; 
}

.text span{
    color: #5CE1E6;

    animation: slideInLeft;
    animation-duration: 2s; 
}

.text p{
    color: #fff;
    font-size: 20px;
    font-weight: 500;

    animation: slideInLeft; 
    animation-duration: 2s; 
}

.redes-sociais{
    margin-top: 10px;

    animation: slideInUp; 
    animation-duration: 2.5s; 
}

.redes-sociais a{
    color: #5CE1E6;
    margin-right: 30px;
    font-size: 30px;
}

.redes-sociais a:hover{
    color: #fff;
    transition: 0.5s;
}

.btn{
    margin-top: 15px;
    color: #5CE1E6;
    background: transparent;
    border: solid 3px #5CE1E6;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
    width: 250px;
    padding: 5px;

    animation: slideInUp; 
    animation-duration: 3s; 
}

.btn:hover{
    background-color: #5CE1E6;
    color: #fff;
    transition: 0.5s;
}



@keyframes float-up-down{
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}


@keyframes blink{
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.container-text span::after{
    content: "|";
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    animation: blink 1s infinite;
    font-weight: 400;
    height: 71px;
}

/* Estilo Sobre */

section.sobre{
    margin-top: 70px;
    padding: 120px 3%;
    height: auto; 
    overflow: auto;
    box-shadow: 0 0 40px 10px #ffffff3a;
    overflow-x: hidden;
    /* visibility: hidden; */
}

.sobre .titu{
    color: #5CE1E6;
    font-size: 40px;
    text-align: center;
}

section.sobre .flex{
    align-items: center;
    gap: 90px;
    margin-top: 60px;
}

.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: #5CE1E6;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.img-sobre img{
    height: 200px;
    padding-left: 28px;

}

.skill-box.skill3.docker-skill {
    font-size: 70px;
}

/* Estilos Projeto */

section.projetos{
    padding: 120px 3%;
    box-shadow: 0px 0px 40px 10px hsla(0, 0%, 100%, 0.227);
    /* visibility: hidden; */
}

section.projetos .flex{
    gap: 100px;
    margin-top: 60px;
    margin-bottom: 60px;
}

h2.titulo{
    color: #fff;
    font-size: 40px;
    text-align: center;
}

.projetos .background h2 span{
    color: #5CE1E6;
}

.img-proj{
    width: 600px;
    height: 360px;
    background-color:  #5CE1E6;
    color: #000000;
    background-size: cover;
    background-position: 50% 0%;
    border-radius: 40px;
    transition: 8s;
    cursor: pointer;
    position: relative;
}

.img-proj1{
    width: 600px;
    height: 360px;
    background-color:  #5CE1E6;
    color: #000000;
    background-size: cover;
    background-position: 50% 0%;
    border-radius: 40px;
    transition: 8s;
    cursor: pointer;
    position: relative;
}

.img-proj:hover{
    background-position: 100% 100%;
}

.img-proj1:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000045;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 600;
    opacity: 0;
    transition: 1.5s;
    text-align: center;
}

.overlay:hover{
    opacity: 1;
}

/* Estilo Habilidades */

section.habilidades{
    padding: 120px 3%;
    overflow-x: hidden;
    box-shadow: 0px 0px 40px 10px hsla(0, 0%, 100%, 0.227);
    /* visibility: hidden; */
}

.habilidades .titu{
    color: #5CE1E6;
    font-size: 40px;
    text-align: center;
    margin-bottom: 90px;
}


.skills-descricao {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:50px;
    padding-bottom: 70px;
}

.conteiner-skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 37px;
    max-width: 55%;
    cursor: pointer;
    font-size: 80px;
    color: #5CE1E6;
    flex-basis: calc(33.33% - 20px);
    
}

.conteiner-skills :hover{
    color: #626262;
    background-color: #5CE1E6;
    transition: 0.5s;
}

.skill-box {
    height: 106px;
    width: 106px;
    background-color: #626262;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease 0.3s;
}

.conteiner-descricao {
    color: white;
    font-family: 'Poppins', serif;
    font-size: 25px;
    max-width: 40%;
    height: 0px;
}

/* FOOTER */

footer{
    padding: 40px 3%;
    /* visibility: hidden; */
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid #5CE1E6;
}

footer .line-footer p i{
    color: #5CE1E6;
    font-size: 22px;
}

footer .line-footer p a{
    color: #fff;
}

.logo-footer img{
    height: 50px;
}


@media screen and (max-width: 923px){
    .container-text{
        padding-top: 2px;
    }
}

@media screen and (max-width: 928px){

    .flex{
        flex-direction: column-reverse;
    }

    /* MENU MOBILE */

    .menu-mobile.abrir{
        visibility: visible;
        height: calc(100vh-77px);
    }

    .btn-menu{
        display: block;
    }

    /* HEADER */
    .cabecalho-link{
        display: none;
        
    }

    .logo img{
        padding: 1%;
     }

    .container-text .flex{
        padding: 8%;
    } 

    /* SOBRE */

    .sobre .txt-sobre{
        padding: 8%
    }

    .sobre .txt-sobre p{
        font-size: 13px;
        line-height: 20px;
    }

    .img-sobre img{
        height: 100px;
        padding-left: 0px;
    }

    /* PROJETOS */

    .img-proj{
        width: 100%;
        background-position: center;
    }
    
    .img-proj1{
        width: 100%;
        background-position: center;
    }

    .overlay{
        opacity: 1;
    }

    /* HABILIDADES */

    .conteiner-descricao {
        height: 260px;
    }

    .skills-descricao {
        display: flex;
        flex-direction: column-reverse;
        margin: 0 auto;
        gap:50px;
        padding-bottom: 70px;
        align-items: center;
    }

    .skills-descricao p {
        text-align: center;
        font-size: 20px;
    }

    .conteiner-skills {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 37px;
        max-width: 300px;
    }

    .conteiner-descricao {
        max-width: 300px;
    }

    /* FOOTER */

    footer .flex{
        flex-direction: column;
    }

    footer .line-footer{
        text-align: center;
    }

    footer .line-footer .redes-sociais{
        margin-left: 35px;
    }
}

/* ESTILO MENU MOBILE */

.menu-mobile{
    background-color: #171810;
    position: absolute;
    top: 77px;
    left: 0;
    width: 100%;
    visibility: hidden;
    overflow: hidden;
}

.menu-mobile li a{
    color:#fff;
    text-decoration: none;
    display: block;
    padding: 20px 30px;
    font-size: 16pt;
}

.menu-mobile li a:hover{
    color: #5CE1E6;
    transition: 0.3s all;
} 

.menu-mobile button{
    margin-top: 12px;
}

/* BOTAO MENU MOBILE */

.btn-menu{
    width: 150px;
    height: auto;
    background: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
    margin-left: 180px;
    display: none; 
}

.linha{
    width: 30px;
    height: 3px;
    background-color: #5CE1E6;
    display: block;
    margin: 6px auto;
    position: relative;
    border-radius: 20px;
    transform-origin: center;
    transition: 0.3s;
}

button.btn-menu.ativar .linha:nth-child(1){
    transform: translateY(9px) rotate(-45deg);
    background-color: #5CE1E6;
}

button.btn-menu.ativar .linha:nth-child(3){
    transform: translateY(-9px) rotate(45deg);
    background-color: #5CE1E6;
}

button.btn-menu.ativar .linha:nth-child(2){
    width: 0;
}

@media screen and (max-width: 928px){

    /* MENU MOBILE */

    .menu-mobile.abrir{
        visibility: visible;
        height: 52vh;
    }

    .btn-menu{
        display: block;
    }
}

/* ANIMAÇÃO PÁGINA */

.init-hidden{
    opacity: 0;
    transition: opacity 1s linear;
}

.init-hidden-off{
    opacity: 1;
}

